<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Choose Dice Roll Display</title>
    </head>
    <body class="container">
        <h1>I have picked a number. Can you guess what it is?</h1>
            <a class="btn btn-primary" href="/roll-dice/1">I guess 1</a>
            <a class="btn btn-primary" href="/roll-dice/2">I guess 2</a>
            <a class="btn btn-primary" href="/roll-dice/3">I guess 3</a>
            <a class="btn btn-primary" href="/roll-dice/4">I guess 4</a>
            <a class="btn btn-primary" href="/roll-dice/5">I guess 5</a>
            <a class="btn btn-primary" href="/roll-dice/6">I guess 6</a>

     <script th:replace="fragments/scripts :: scripts"></script>

    </body>
</html>